.text-background {
  background-color: rgba(0, 0, 0, 0);
}

.text-header {
  font-family: 'Dosis', sans-serif;
  font-size: 112px;
  text-shadow: 2px 2px 6px rgb(8, 14, 104);
  color: rgb(236, 230, 230);
  text-align: center;
}

.text-header2 {
  font-family: 'Dosis', sans-serif;
  font-size: 80px;
  text-shadow: 2px 2px 6px rgb(8, 14, 104);
  color: rgb(236, 230, 230);
  text-align: center;
}

.text-paragraph{
  font-size: 34px;
  color: rgb(236, 230, 230);
  text-shadow: 2px 2px 4px rgb(8, 14, 104);
  text-align: center;
}

.vertical-center {
  background-color: rgba(46, 44, 44, 0.658);
  margin-top: 16rem;
  text-align: center;
}

.parallax{

  min-height: 550px; 
  background:transparent;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b5bdc096;
  
}

.image {
  display: block;
  height:auto;
  width: 100%;
  border-radius: 50%;
}
.text {
  text-align: center;
  color: rgb(236, 230, 230);
  text-shadow: 2px 2px 4px rgb(8, 14, 104);
  font-size: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.cont:hover .overlay {
  opacity: 1;
}

.cont{
  position: relative;

}